@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

body.modal-active {
  overflow-y: hidden;
}

@media (max-width: 450px) {
  .blog-card {
    width: 95%;
  }
}

@media (max-width: 380px) {
  .edit {
    width: 95%;
  }

  .edit-content {
    width: 90%;
  }
}